#loginWrapper {
	background-color: transparent;
	background-image: url(../images/ie8/bg_loginWrapper.png);
	background-repeat: no-repeat;
}

#loginWrapper .login-role,
#loginWrapper .login-role form {
	height: 278px;
	overflow: hidden;
}

#loginWrapper .login-role {
	background-image: url(../images/ie8/bg_login-role.png);
}

#loginWrapper .login-role form {
	background-color: transparent;	
	background-image: url(../images/ie8/bg_login-role-form.png);
	background-repeat: no-repeat;
	max-height: 193px;
}

#loginWrapper #researcher form,
#loginWrapper #researcher {
	background-position: top right;
}


#footer {
	background-color: transparent;	
	background-image: url(../images/ie8/bg_footer.png);
}

#wrapper,
.slide,
.js-carousselSlide,
#innerWrapper {
	background-color: transparent;
	background-image: url(../images/ie8/bg_white_transparency.png);
	background-repeat: repeat;
}
